<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Social Login</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" href="https://unpkg.com/materialize-stepper@3.1.0/dist/css/mstepper.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/css-social-buttons/1.4.0/css/zocial.min.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <base href="/" />
</head>
<body>
  <header class="navbar-fixed">
    <nav class="blue navbar-fixed menu" data-target="menu">
      <div class="container">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">SaaS Platform SignUp</a>
        </div>
      </div>
    </nav>
  </header>
    
    <main>
    <div class="container">
    <%- body %> 
    </div>
    </main>
    
    <footer class="page-footer blue">
      <nav class="blue navbar-fixed menu" data-target="menu">
        <div class="container">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo">Copyright &copy; Super Imaginative Co.</a>
            <ul class="right hide-on-med-and-down">
              <li>
                <a href="https://facebook.com/aababotcsfinch">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/csfinch">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://instagram.com/csfinch">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </footer>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/js/share.js"></script>
  </body>
</html>