html {
  font-size: 18px;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.btn-large{
  min-width: 660px !important;
}

.collection{
  border: none !important;
}

.collection-item {
  border: none !important;
}