  <!-- Header -->
  <div class="main-header">
  <div class="secondary-overlay">
    <div class="row">
      <div class="col 12 m10">
        <div class="card-panel">
          <div class="row">
            <div class="col s12">
              <div class="row">
                <h3 class="blue-text center-align">Create Account</h3>
              </div>
              <div class="row">
                <ul class="collection">
                    <li class="collection-item center-align" ><a class="btn-large zocial facebook" href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.startupcodeblog.io" target="_blank">Signup using Facebook</a></li>
                    <li class="collection-item center-align" ><a class="btn-large zocial twitter"  href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.startupcodeblog.io" target="_blank">Signup using Twitter</a></li>
                    <li class="collection-item center-align" ><a class="btn-large zocial linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.startupcodeblog.io" target="_blank">Singup using LinkedIn</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
